
/*盒子样式*/
.pic-box {
    font-size: 10px;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:-1;
    opacity: 0;
    background:rgba(0,0,0,.8);
    transition: .5s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/*盒子附加样式*/
.pic-box-show {
    opacity: 1;
    z-index:99;
}

.pic-box-hide {
    opacity: 0;
    z-index:-1;
}

/*用于点击的底幕*/
.pic-box>.pic-back {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

/*盒子图片样式*/
.pic-box>.pic-img{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
}

/*盒子按钮样式*/
.pic-box>.pic-button {
    position: absolute;
    z-index: 1;
    right:0;
    top:0;
    padding:.3em 1em;
    background:rgba(0,0,0,.3);
    cursor: pointer;
}

.pic-box>.pic-button>.pic-icon {
    display: inline-block;
    font-size: 1.2em;
    padding:.5em .9em;
    color:rgb(226, 226, 226);
    transition: .3s;
}

.pic-box>.pic-button>.pic-icon:last-of-type {
    font-size: 1.4em;
}

.pic-box>.pic-button>.pic-icon:hover {
    color:rgb(255, 255, 255);
}

.play-stop>i:last-of-type {
    display: none;
}

/*箭头样式*/
.pic-box>.pic-arrow {
    position: absolute;
    z-index: 1;
    width:3em;
    top:50%;
    margin-top:-1.5em;
    color:rgb(226, 226, 226);
    background:rgba(0,0,0,.3);
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.pic-box>.pic-left {
    left:0;
}

.pic-box>.pic-right {
    right:0;
}

.pic-box>.pic-arrow>i {
    line-height: 2.5em;
    transition: .3s;
}

.pic-box>.pic-arrow>i:hover {
    color:rgb(255, 255, 255);
}
